.cardObjWrapper {
    color: white;
    border: solid 1px #525252;
    border-radius: 3px;
    padding: 15px;
    margin: 10px 20px 10px 20px;
    background-color: #535C65;
    transition: transform 0.3s;
}

.cardObjWrapper:hover {
    z-index: 5;
    transform: scale(1.01);
  }

  th, td {
      padding: 10px 25px 10px 25px;
  }