.appContainer {
  display: grid;
  grid-template-areas:
    "header header header"
    "left middle right";
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 100px;
  height: 100vh;
  background-color: black;
}

.menuWrapper {
  background-color: blueviolet;
  grid-area: header;
  grid-row-start: 1;
  margin: 10px;
}

.leftDeck {
  background-color: green;
  grid-area: left;
  margin: 10px;
}

.playingTable {
  background-color: red;
  grid-area: middle;
  margin: 10px;
}

.playingTableCardGrid {
  display: grid;
  grid-template-areas:
    "topLeft topMiddle topRight"
    "left middle right"
    "bottomLeft bottomMiddle bottomRight";
  border: 1px solid #000;
	grid-gap: 1px;
	justify-self: center;
  grid-template-columns: 33.3% 33.4% 33.3%;
  grid-template-rows: 100px;
  max-width: 292px;
	height: auto;
	margin: 0 auto;
}

.rightDeck {
  background-color: blue;
  grid-area: right;
  margin: 10px;
}