.navContainer {
  padding: 10px;
  top: 0;
  left: 0;
  right: 0;
}

.navbar {
  font-size: 24px;
}

.navbar-brand {
  font-size: 35px;
  cursor:pointer;
  padding: 10px;
}

.nav-link {
  margin: 0px 10px 0px 10px;
}

.appContainer {
  min-height: 100vh;
  height: 100%;
  background-color: #121416;
}

.contentContainer {
  padding: 0px 10px 10px 10px;
}

.loading {
  color: white;
}